.product-title{
    font-size: 80px;
    line-height: 80px;
    font-family: "黑体";
    color: #fff;
    font-weight: 700;
}
.product-quote{
    background: #369fa4;
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 20px;
    color: #fff;
}

#main-content{
    margin: 0 auto;
    height: 900px;
    width: 1300px;
}

.product-portfolio{
    width: 1300px;
    height: 50px;
}

.product-portfolio span{
    font-family: "黑体";
    font-weight: 600;
    line-height: 1.1;
    font-size: 40pt;
    color: rgb(96, 97, 89);
    margin: 15px 0px 0px 48px;
}

.product-container{
    margin-left: 20px;
    width: 1250px;
    height: 830px;
}

.product-content{
    width: 1200px;
    height: 750px;
}

.product-content li{
    float: left;
    margin: 18px 0 0 25px ;
}

.product-content li img{
    width: 270px;
    height: 190px;
}

.product-content li a:hover{
    color: blue;
}

.product-page{
    margin-left: 50px;
    height: 60px;
    width: 1000px;
}