{% extends "blog_base.html" %}
{% load staticfiles %}
{% load filters %}
{% load django_markdown %}

{% block blogcontent %}

<div class="content-wrapper">

    {% for object in object_list %}
        <article class="article">
            <h3 class="article-title">
                <a href="{% url "blog_detail" slug=object.slug %}">{{ object.title }}</a>
            </h3>

            <div class="article-meta">
                <a class="avatar avatar-30" size="30" name="true" title="{{ object.author.name }}" href="javascript:;">
                    <span class="avatar-face"><img src="{{ object.author.basicinfo.avatar.url }}" alt="{{ object.author.name }}"></span>
                    <span class="avatar-name">{{ object.author.name }}</span>
                </a>
                <span class="published">{{ object.create_time }}</span>
                 |
                <a class="category-name" href="{% url "category_blogs" slug=object.category.slug %}">{{ object.category.name }}</a>
                |
                <span>{{ object.click_count }}次阅读</span>
            </div>
            <div class="article-summary article-markdown">
                <p>
                    {% if object.image %}
                    <img src="{{ object.image.url }}" alt="替代文字"><br>
                    {% endif %}
                    {{ object.content|cut|markdown }}
                </p>

            </div>
            <div class="article-footer">
                <a href="{% url "blog_detail" slug=object.slug %}">阅读全文<i class="icon-double-angle-right"></i></a>
            </div>
        </article>
    {% endfor %}

    <ul class="pagination">
        {% if page_obj.has_previous %}
            <li >
                <a href="{% url "blog" %}?page={{ page_obj.previous_page_number }}" class="paginator-previous">上一页</a>
            </li>
        {% else %}
            <li class="disabled">
                <a href="javascript:;" class="paginator-previous">上一页</a>
            </li>
        {% endif %}

        {% for num in page_obj.paginator.page_range %}
            {% if num == page_obj.number %}
                <li class="active">
                    <a href="javascript:;">{{ num }}</a>
                </li>
            {% else %}
                <li class="paginator-page">
                    <a href="{% url "blog" %}?page={{ num }}">{{ num }}</a>
                </li>
            {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
            <li>
                <a href="{% url "blog" %}?page={{ page_obj.next_page_number }}" class="paginator-next">下一页</a>
            </li>
        {% else %}
            <li class="disabled">
                <a href="javascript:;" class="paginator-next">下一页</a>
            </li>
        {% endif %}
    </ul>
    </div>

{% endblock %}