{% extends "base.html" %}
{% load staticfiles %}

{% block header %}
<li class="active">
    <a href="{% url 'index' %}">首页</a>
</li>
<li>
    <a href="{% url 'work' %}">作品展示</a>
</li>
<li>
    <a href="{% url 'services' %}">服务</a>
</li>
<li>
    <a href="{% url 'blog' %}">博客</a>
</li>
<li>
    <a href="{% url 'team' %}">关于我们</a>
</li>
<li>
    <a href="{% url 'contact' %}">联系我们</a>
</li>
{% endblock %}

{% block content %}
<div id="wrap-all">
    <div id="main" class="inner">
    <div id="index-wrap">
<div class="index-banner">
    <div class="index-banner-wrap">
        <div class="index-banner-inner">
            <h1>绿芽为梦想发芽</h1>
            <p>
                绿芽工作室致力于提供最好的web服务<br>
                让服务自然而然
            </p>
            <div ng-controller="index_carousel_ctrl" class="index-banner-carousel ng-scope">
                <img src="http://cdn.designinstruct.com/files/379-design_agency_website_examples/design_agency_website_examples_04humcreative.jpg" style="width: 458px;height: 281px;">
            </div>
        </div>
    </div>
</div>

<div class="index-body">
    <h3 class="index-feature-title">
        <span>业务范围</span>
    </h3>
    <ul class="index-feature">
        <li>
            <img src="{% static "images/i1.png" %}" alt="提高效率">
            <br>
            <h4>页面设计</h4>
            灵活的任务和日程，让团队成员的<br>
            效率迅速提升，工作就是这么简单
        </li>
        <li>
            <img src="{% static "images/i2.png" %}" alt="无缝沟通">
            <br>
            <h4>网站开发</h4>
            简单好用的在线讨论，无处不在的<br>
            关注和评论，与团队成员之间无缝沟通
        </li>
        <li>
            <img src="{% static "images/i3.png" %}" alt="资源共享">
            <br>
            <h4>微信开发</h4>
            无共享，不协同，完善的文件共享<br>
            让你的团队达到真正意义上的协同
        </li>
        <li>
            <img src="{% static "images/i4.png" %}" alt="帮助记录">
            <br>
            <h4>网站维护</h4>
            强大的在线文档编辑，帮助团队<br>
            记录，积累沉淀形成团队知识库
        </li>
    </ul>



    <div class="index-who">
        <div class="index-who-inner">
            <h3 class="index-who-title">作品展示</h3>
            <ul class="index-who-grid">
                <li><i class="icon icon-code"></i>开发者</li>
                <li><i class="icon icon-dribbble"></i>设计师</li>
                <li><i class="icon icon-leaf"></i>创业团队</li>
                <li><i class="icon icon-bug"></i>测试团队</li>
                <li><i class="icon icon-lightbulb"></i>顾问咨询</li>
                <li><i class="icon icon-bullseye"></i>市场人员</li>
                <li><i class="icon icon-suitcase"></i>律师</li>
                <li><i class="icon icon-book"></i>媒体出版</li>
                <li><i class="icon icon-sitemap"></i>分布式团队</li>
                <li><i class="icon icon-building"></i>学生社团</li>
                <li><i class="icon icon-ambulance"></i>公益组织</li>
                <li><i class="icon icon-github-alt"></i>开源团队</li>
            </ul>
            <div class="index-who-footer">不论你身处哪个行业，从事哪个工作，只要您有团队协作的需求，就是绿芽的用户</div>
        </div>
    </div>
    <h3 class="index-other-title">联系我们</h3>
    <ul class="index-other-list">
        <li>
            <a href="#">
            <img src="{% static "images/index-other-plan.png" %}" alt="付费方案">
            <h4>付费方案</h4>
            目前我们完全免费
            </a>
        </li>
        <li>
            <a href="#">
            <img src="{% static "images/index-other-mobile.png" %}" alt="移动版">
            <h4>移动版</h4>
            iPhone、Android全平台支持
            </a>
        </li>
        <li>
            <a href="#">
            <img src="{% static "images/index-other-security.png" %}" alt="数据安全">
            <h4>数据安全</h4>
            保护数据安全，是我们的立身之本
            </a>
        </li>
        <li>
            <a href="#">
            <img src="{% static "images/index-other-feedback.png" %}" alt="用户社区">
            <h4>您的声音</h4>
            用心倾听您的声音，做好产品
            </a>
        </li>
    </ul>
</div>
{% endblock %}