{% extends "base.html" %}
{% load staticfiles %}

{% block header %}
<li>
    <a href="{% url 'index' %}">首页</a>
</li>
<li class="active">
    <a href="{% url 'work' %}">作品展示</a>
</li>
<li>
    <a href="{% url 'services' %}">服务</a>
</li>
<li >
    <a href="{% url 'blog' %}">博客</a>
</li>
<li>
    <a href="{% url 'team' %}">关于我们</a>
</li>
<li>
    <a href="{% url 'contact' %}">联系我们</a>
</li>
{% endblock %}

{% block content %}
    <div id="sub-header" style="background: url({% static "images/product_top.jpg" %}) -25px no-repeat transparent;">
        <div class="container">
            <h1 class="product-title">What We've Done</h1>
            <p class="product-quote">Here's some of the stuff we're proud of</p>
        </div>
    </div>

<div id="main-content">
    <div class="product-container">
        <h1 class="product-portfolio">Our Portfolio</h1>
        <div class="product-row">
            {% for product in product_list %}
                <div class="product_content" style="float:left;display: inline-block;">
                    <img src={{ product.picture.image.url }} width="250" height="180" >
                    <h4>{{ product.name }}</h4>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}